<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304393749591-3ue9blcp3lkmhgai2o0rh2k9lq38ie1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304393749591-3ue9blcp3lkmhgai2o0rh2k9lq38ie1q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304393749591-4p67qrq57sbhmv9q4b059a77l7vui54r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNlysx8rYfyf1AKPhOUu44Wo1-R3uD6Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>304393749591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pause72.pause72</string>
	<key>PROJECT_ID</key>
	<string>pause72-31936</string>
	<key>STORAGE_BUCKET</key>
	<string>pause72-31936.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304393749591:ios:eb8594df8b520657548f12</string>
</dict>
</plist>